.gallery {
  // margin-top: 240px;
  margin-top: calc(60px + 180 * (100vw / 1920));
  margin-bottom: 120px;
}
.gallery-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #111111;
  // margin-top: 95px;
  // margin-bottom: 80px;
  margin-top: calc(30px + 50 * (100vw / 1920));
  margin-bottom: calc(30px + 50 * (100vw / 1920));
  &__item {
    // margin-right: 4%;
    // margin-right: 1.8%;
    // margin-right: 25px;
    margin-right: calc(0px + 25 * (100vw / 1920));
    padding: 3px 20px;
    // font-size: 15px;
    font-size: calc(12px + 3 * (100vw / 1920));
    font-weight: 400;
    &:hover {
      background: #b20005;
      color: #fff;
      cursor: pointer;
      transition: all .5s ease 0s;
    }
    &_active {
      background: #b20005;
      color: #fff;
      padding: 3px 20px;
    }
  }
}
.all-gallery {
  display: flex;
  justify-content: center;
  padding: 0 46px;
  // margin-bottom: 70px;
  margin-bottom: calc(30px + 40 * (100vw / 1920));
  img {
    margin-bottom: 10px;
    padding-right: 10px;
  }
  &__col {
    width: 33%;
    &_padd {
      img {
        padding-right: 0;
      }
    }
  }
  &__item {

  }
}

.all-gallery__item img {
  transition: 1s; /* Время эффекта */
 }
 .all-gallery__item img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
 }